body {
  font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: red;
  }
  
  .pokemon-directory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    background-color: lightgray;
  }
  
  .pokemon-card img {
    width: 150px;
    height: 150px;
    cursor: pointer;
  }
  
  .pokemon-details {
    margin-top: 10px;
  }
  
  .pokemon-details h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .pokemon-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .pokemon-details li {
    margin-bottom: 5px;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 15px;
    font-size: 2em;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
   
  }
  
  h1{
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
  }
  
  .img {
    display: flex;
  
    border-radius: 10px;
    width: 100%;
  }
  
.about{
    background-color:white;
    text-align: center;
    border-radius: 10px;
}